@import '../../index.scss';

.dt-error {
    width: 100%;
    text-align: center;
    padding: 60px 0px;
    img {
        width: 500px;
    }
   @media (min-width: 300px) and (max-width: 575.98px) {
        padding: 40px 0px;
        img {
            width: 100%;
        }
   }
   @media (min-width: 576px) and (max-width: 767.98px) {}
   @media (min-width: 768px) and (max-width: 991.98px) {}
   @media (min-width: 992px) and (max-width: 1199.98px) {}
   @media (min-width: 1200px) and (max-width: 1399.98px) {}
   @media (min-width: 1400px) and (max-width: 2580px) {}
}